<div class="comments" id="comments">
	<h2 class="title">
		<div>Комментарии (<span id="count">126</span>)</div>
	</h2>
	<dl class="settings">
		<dt>настройки: </dt>
		<dd>
			<label class="checkbox-inline">
				<input type="checkbox" id="subscribe-comments" value="option1"> отслеживать в почте
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="tracker-comments" value="option2"> отслеживать в трекере
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="old-comments-hide" value="option3"> показывать только новые
			</label>
		</dd>
	</dl>

	<div class="comment" id="comment-6454930">
		<div class="body">
			<div class="info">
				<div class="folding-dot-holder"><div class="folding-dot"></div></div>
				<a href="http://habrahabr.ru/users/Riateche/" class="avatar"><img src="//habrastorage.org/getpro/habr/avatars/158/126/c5f/158126c5f5f2125227fff295e9cd6ecb_small.jpg"></a>
				<a href="http://habrahabr.ru/users/Riateche/" class="username">Riateche</a>,
				<time>4 июля 2013 в 12:20</time>
				<a href="#comment-6454930" class="link-to-comment">#</a>
				<span class="favorite add" title="В избранное"></span>
				<span class="hide-other" title="Спрятать остальные"></span>
				<span class="to-chidren" title="Дальше"></span>
				<span id="voting_6454930" class="voting   ">
					<span class="minus" title="Срок голосования истек "></span>
					<span class="plus" title="Срок голосования истек "></span>
					<span class="mark positive">
						<span class="score" title="Всего 2: ↑2 и ↓0">+2</span>
					</span>
				</span>
			</div>
			<div class="message">
				Это круто. Повтор клавиш и индикация раскладки светодиодом независимо от ОС — это то, о чем я не мог даже мечтать. Очень раздражает, когда ставишь новую ОС, а в ней повтор работает с другой скоростью и задержкой. Настроить идентичное поведение во всех ОС сходу невозможно.
			</div>
			<div class="reply">
				<a href="#reply" class="#">ответить</a>
			</div>
		</div>
		<div class="reply" id="reply_6454930">
			<div class="comment" id="comment_6455046">
				<div class="body">
					<div class="info">
						<div class="folding-dot-holder"><div class="folding-dot"></div></div>
						<a href="http://habrahabr.ru/users/Riateche/" class="avatar"><img src="//habrastorage.org/getpro/habr/avatars/158/126/c5f/158126c5f5f2125227fff295e9cd6ecb_small.jpg"></a>
						<a href="http://habrahabr.ru/users/Riateche/" class="username">Riateche</a>,
						<time>4 июля 2013 в 12:20</time>
						<a href="#comment-6454930" class="link-to-comment">#</a>
						<span class="favorite add" title="В избранное"></span>
						<span class="hide-other" title="Спрятать остальные"></span>
						<span class="to-chidren" title="Дальше"></span>
						<span id="voting_6454930" class="voting   ">
							<span class="minus" title="Срок голосования истек "></span>
							<span class="plus" title="Срок голосования истек "></span>
							<span class="mark positive">
								<span class="score" title="Всего 2: ↑2 и ↓0">+2</span>
							</span>
						</span>
					</div>
					<div class="message">
						Это круто. Повтор клавиш и индикация раскладки светодиодом независимо от ОС — это то, о чем я не мог даже мечтать. Очень раздражает, когда ставишь новую ОС, а в ней повтор работает с другой скоростью и задержкой. Настроить идентичное поведение во всех ОС сходу невозможно.
					</div>
					<div class="reply">
						<a href="#reply" class="#">ответить</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
