{% extends "base.html" %}
{% block title %}Keyboard{% endblock %}
{% block id %}keyboard{% endblock %}
{% block content %}

<div class="container">
	<div class="catalog flex-container">
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
		<a href="/keyboard/catboard/" class="flex-item">
			<img src="http://placehold.it/650x650">
			<div class="hover">
				<h3>Catboard 2</h3>
			</div>
		</a>
	</div>
</div>
{% endblock %}